.root {
    -fx-background-color: #fff6da;
}

.text-field {
    -fx-background-color: #fffbee;
}

.button {
    -fx-background-color: #fff6da;
}

.button:pressed {
    -fx-background-color: #fff0c1;
}

.button:hover {
    -fx-background-color: #fff0c1;
}

.text-area {
    -fx-border-size: 10;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-area .content {
    -fx-background-color:  #fffbee;
}

.text-area .scroll-pane {
    -fx-background-color:  #fffbee;
}

.text-area .scroll-pane .viewport {
    -fx-background-color:  transparent;
}

.text-area .scroll-pane .content {
    -fx-background-color:  transparent;
}
